PORT_SERVER=3001

DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DATABASE=agent_financeiro
DB_USER=

API_GROQ=
API_ROUTER=
OPENROUTER_MODELO_1=nvidia/nemotron-3-super-120b-a12b:free
OPENROUTER_MODELO_2=nvidia/nemotron-3-ultra-550b-a55b:free
OPENROUTER_MODELO_3=nvidia/nemotron-3.5-lightning:free
OPENROUTER_MODELO_4=dots-studio/dots-3-note-preview:free

BRAPI_TOKEN=